@charset "UTF-8";
/*スレッドの新規作成画面用*/

form { text-align : left ;
      color: #333a56;
     }

/*wrapperクラス*/
.wrapper {
 margin: 0 auto 0 auto;	/* nav中央揃え */
 width: 900px;			/* 幅を固定 */
}

/*top_nameクラス(見出し)*/
.top_name {
text-align: center;
 color: #52658f;
  display: flex;
justify-content: center;
align-items: center;
font-size: 26px;
text-align: center;
}
.top_name::before,
.top_name::after {
content: '';
width: 70px;
height: 3px;
background-color: #e3bf00;
}
.top_name::before {
margin-right: 20px;
}
.top_name::after {
margin-left: 20px;
}