@charset "UTF-8";
/*掲示板機能内での共通*/

.submenu {
display: table;
margin: 0 auto;
padding: 0;
width: 90%;
text-align: center;
}
.submenu li{
display: table-cell;
min-width: 50px;
}
.submenu li a{
display: block;
width: 100%;
padding: 1px 1px;
text-decoration: none;
color: #333a56;
font-weight: bold;
}
