@charset "UTF-8";
/*ヘッダー用*/


/*ナビゲーションここから*/
#nav {
  list-style: none;
  display: flex;
}

#nav li {
  width: 140px;
  text-align: center;
  background-color: #ffa954;
 /* height: 50px;*/
  /*line-height: 50px;*/
 margin-right: 5px;
  font-size: 11px;
}

#nav li a {
  text-decoration: none;
  color: #fff;
font-weight: bold;
 /* padding: 5px;*/
}

#nav li a:hover {
  color: #333a56; /*カーソル乗せた時の色*/
  text-decoration: none;
}
#nav li a:active {
  color: #000000;/*押したときの色*/
  text-decoration: none;
}


/*nav_boxクラス*/
.nav_box {
	margin-right: 32px;/*ナビゲーションリスト左寄せ*/
}

/*ナビゲーションここまで*/


/*logoクラス*/
.logo {
 margin: 15px 0 10px 0; /*ロゴ中央揃え*/
 line-height: 0;
 text-align: center;
}

/* wrapperクラス */
.wrapper {
 margin: 0 auto 0 auto;	/* nav中央揃え */
 width: 900px;			/* 幅を固定 */
}



/*自己紹介アイコン*/
.icon-profile {
	padding-left: 40px;
    line-height: 40px;
    background: url(../images/profile.png) no-repeat;
}
/*トークルームアイコン*/
.icon-talk {
	padding-left: 40px;
    line-height: 40px;
    background: url(../images/talk.png) no-repeat;
}
/*掲示板アイコン*/
.icon-bbs {
	padding-left: 40px;
    line-height: 40px;
    background: url(../images/bbs.png) no-repeat;
}
/*マイページアイコン*/
.icon-mypage {
	padding-left: 40px;
    line-height: 40px;
    background: url(../images/mypage.png) no-repeat;
}
/*お問い合わせアイコン*/
.icon-inquiry {
	padding-left: 40px;
    line-height: 40px;
    background: url(../images/inquiry.png) no-repeat;
}
/*ログアウトアイコン*/
.icon-logout {
	padding-left: 40px;
    line-height: 40px;
    background: url(../images/logout.png) no-repeat;
}
