@charset "UTF-8";
/*ログイン画面用*/




/*logoクラス*/
.logo {
 margin: 50px 0 20px 0; /*ロゴ中央揃え*/
 line-height: 0;
 text-align: center;
}

/* wrapperクラス */
.wrapper {
 margin: 0 auto 0 auto;
 width: 900px;			/* 幅を固定 */
}
/*buttonクラス*/
.button {
color: #ffffff;
background-color: #ffa954;
border-bottom: 5px solid #ccc100;
}
.button:hover {
margin-top: 3px;
color: #000;
background: #fff20a;
border-bottom: 2px solid #ccc100;
}
/*buttonクラスここまで*/


.create {
text-align: center;
display: block;
}




a {
text-decoration:none;
}
table {
margin-left: auto;
margin-right: auto;
color: #333a56;
       }

div {
text-align : center ;
     }



/* ID/PWアラートの色 */
#output {
color: #ff0000;
        }
