@charset "UTF-8";
/*メニュー画面用CSS*/

*{
  outline: 1px solid #ff0000;
}

.top-name {
	float: center;
}

.button {
  display       : inline-block;
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #ffa954;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  text-decoration: none;
  font-weight: bold;

}