@charset "UTF-8";
/*メニュー画面用CSS*/

/**{
  outline: 1px solid #ff0000;
}*/


.wrapper {
 margin: 0 auto 0 auto;	/* nav中央揃え */
 width: 900px;			/* 幅を固定 */
}

.logo {
  text-align: center;
}


.top_name {
  text-align: center;
  margin-top: 30px;
  color: #52658f;
}

.top_name {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;

}

.top_name::before,
.top_name::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #e3bf00;
}

.top_name::before {
	margin-right: 20px;
}
.top_name::after {
	margin-left: 20px;
}

.menu_box {
	margin-top: 40px;
	padding-left: 80px;
}

.button {
  display       : inline-block;
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  background    : #ffa954;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  text-decoration: none;
  font-weight: bold;
  width: 200px;
  height: 20px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 40px 40px;
  margin-top: 10px;

}



