@charset "UTF-8";
/*アカウント新規登録画面用*/

*{
  outline: 1px solid #ff0000;
}

.wrapper {
 margin: 0 auto 0 auto;	/* nav中央揃え */
 width: 900px;			/* 幅を固定 */
}


.top_name {
  text-align: center;
  color: #52658f;
}


table {
    margin-left: auto;
    margin-right: auto;
       }

div { text-align : center ;
      color: #333a56;
     }
