@charset "UTF-8";
/*トークルームのトップ画面用*/


/**{
  outline: 1px solid #ff0000;
}*/


.wrapper {
 margin: 0 auto 0 auto;	/* nav中央揃え */
 width: 900px;			/* 幅を固定 */
}

.top_name {
  text-align: center;
  color: #52658f;
}

.top_name {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;

}

.top_name::before,
.top_name::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #e3bf00;
}

.top_name::before {
	margin-right: 20px;
}
.top_name::after {
	margin-left: 20px;
}
.button {
  display       : inline-block;
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  background    : #ffa954;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  text-decoration: none;
  font-weight: bold;
  width: 250px;
  height: 100px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
    outline: none;

}

.talkroom_box {
	margin-top:-10px;

}

.roomlist1, .roomlist2 {
	list-style: none;
	display: table;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0;
}

li.roomlist1, li.roomlist2 {
	display: table-cell;
	width: 33.333333%;
	padding: 10px;
	box-sizing: border-box;

}

.item {
	float: left;
}

.word {
	text-align: center;
}